<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400" rel="stylesheet" />

    <title>Candidate Exercise</title>
  </head>

  <body>
    <div class="exercise-header">
      <h2>Exercise 1 - Testimonial Block</h2>
    </div>

    <div class="blockquote-cta">
      <div class="blockquote-cta__wrapper">
        <div class="blockquote-cta__container">
          <p class="blockquote-cta__quote">
            Gingerbread tart cupcake cake muffin cookie liquorice tiramisu. Toffee cupcake cake cake croissant icing
            carrot cake cookie. Dessert chocolate bar apple pie sesame snaps liquorice carrot cake cookie danish.
          </p>
          <span class="blockquote-cta__author">Indiana Jones, Archaeologist</span>
        </div>
        <a class="blockquote-cta__cta">Tell Me More</a>
      </div>
    </div>

    <div class="exercise-header">
      <h2>Exercise 2 - Filterable Content</h2>
    </div>
    <div id="app"></div>
  </body>

  <footer>
    <script type="module" src="../js/index.js"></script>
  </footer>
</html>
